openapi: 3.2.0
info:
  title: Agent Disco Checks API
  description: 'Public HTTP API for Agent Disco — submit scans, inspect

    results, consume the checks catalogue, embed grade badges.

    Documented contract under `/api/v1/`. Rate-limited per

    client IP (10 anonymous scans / day by default).'
  contact:
    name: Starsol Ltd
    url: https://agentdisco.io
    email: disty@agentdisco.io
  version: 1.0.0
servers:
- url: https://agentdisco.io
  description: Production
tags:
- name: Checks
paths:
  /api/v1/checks:
    get:
      tags:
      - Checks
      summary: List every active check
      description: JSON sibling of the `/checks` catalogue page. ETag lets clients skip the payload on revisits.
      operationId: get_api_checks_index
      responses:
        '200':
          description: Active checks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksListResponse'
        '304':
          description: Not modified (If-None-Match matched).
components:
  schemas:
    CheckResponse:
      required:
      - key
      - label
      - category
      - weight
      - phase
      - description
      properties:
        key:
          description: Stable key, e.g. crawl.robots_txt.
          type: string
        label:
          type: string
        category:
          type: string
        weight:
          type: integer
        phase:
          description: passive|active
          type: string
        description:
          description: Markdown description — rendered on /checks/{key}.
          type: string
      type: object
    ChecksListResponse:
      required:
      - checks
      properties:
        checks:
          type: array
          items:
            $ref: '#/components/schemas/CheckResponse'
      type: object
